.selection-control {
  margin-bottom: 1em;
}

.selection-control > span:after {
  content: "|";
}

.selection-control > span:last-child:after {
  content: "";
}

.profile {
  clear: both;
  margin-bottom: 0.5em;
  padding: 1px;
}

.profile:hover {
  border: 1px solid #ddd;
  padding: 0px;
}

.profile-title.outdated-fs-version  {
  background-color: #ffb8b8;
}

.profile-title strong {
  cursor: pointer;
}

.profile-version {
  float: right;
  margin-right: 1em;
}

.outdated-fs-version .profile-version .fs-version {
  color: red;
  font-weight: bold;
}

.upgrade {
  clear: both;
  padding-left: 2em;
  cursor: pointer;
}

.upgrade:after {
  content: '';
  display: block;
  clear: both;
}

.upgrade:hover {
  background-color: #eee;
}

.upgrade > span {
  float: left;
  margin-left: 1em;
}

.upgrade span.upgrade-checkbox {
  margin-left: 0;
  width: 6em;
}

.upgrade span.upgrade-version {
  width: 20em;
}

.upgrade.outdated-fs-version .dest-version {
  color: red;
  font-weight: bold;
}

.upgrade.done {
  display: none;
}

.upgrade.outdated-fs-version {
  background-color: #fedcdc;
}

.upgrade.orphan {
  background-color: #F8CE92;
}

#upgrade-progress {
  display: none;
  text-align: center;
  padding: 2em;
}

#upgrade-progress p {
  margin-top: 1em;
  font-size: 1.1em;
  color: #555;
}

.upgrade-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #007bb1;
  border-radius: 50%;
  animation: upgrade-spin 0.8s linear infinite;
}

@keyframes upgrade-spin {
  to {
    transform: rotate(360deg);
  }
}

#upgrade-output {
  display: none;
  width: 100%;
  margin-top: 1em;
}

#upgrade-log {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 1em;
  font-family: monospace;
  font-size: 0.85em;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 1000px;
  overflow-y: auto;
}

#back-to-upgrades {
  display: none;
  margin-top: 1em;
}
